.profile-page {
  margin-top: 9rem;
  padding: 3.5rem;
  background: #fff;
  padding-left: 4rem;
  font-weight: 500;
  font-family: 'Poppins';
}

.row {
  display: flex;
  margin-bottom: 0px;
}

.col {
  padding: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.col-70 {
  flex: 0 0 70%;
  margin-right: 20px;
  border-radius: 1rem;
}

.col-30 {
  flex: 0 0 27%;
  border-radius: 1rem;
}

.col-25 {
  flex: 0 0 22%;
  border-radius: 1rem;
}

.col-21 {
  flex: 0 0 18%;
}

.title {
  color: #5970F4;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.profile-info {
  margin-left: -5rem;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  border-radius: 1.2rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
}


.circle-img {
  width: 120px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-basic-info {
  margin-left: 20px;
}

.profile-image-info {
  display: flex;
  align-items: center;
}


.documents-box {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.documents-box h3 {
  font-size: 16px;
  color: #3e3c3c;
  margin-bottom: 10px;
}

.doc-date {
  font-size: 12px;
  color: #5970F4;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.doc-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: 'Poppins';
  color: #333;
}

.doc-list ul {
  padding-left: 20px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.doc-list ul::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #000;
}

.doc-list li {
  position: relative;
  padding-left: 20px;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: 'Poppins';
}

.doc-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 1px;
  background: #000;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 400px;
  top: 100px;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  /* Center the modal */
  padding: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* Modal width */
  height: 400px;
  max-width: 600px;
  /* Max width */
  position: relative;
  /* For positioning the close button */
  bottom: 80px;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.doc-list button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.doc-list button:hover {
  text-decoration: none;
}


.labels-row,
.info-row {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0;
  padding: 0;
}

.labels-row p {
  color: #5970F4;
}

.email {
  font-size: 0.8rem;
}

.labels-row p,
.info-row p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.labels-row {
  display: flex;
  gap: 0px;
}

.info-row {
  display: flex;
  gap: 20px;
  margin-top: 4px;
}

/* Buttons in Profile Section */
.action-buttons {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-family: 'Poppins';
}

.action-buttons button {
  padding: 8px 12px;
  background-color: transparent;
  /* Default no background */
  color: #5970F4;
  border: 1px solid #5970F4;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 110px;
  height: 33px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  /* Font size */
}

.action-buttons button:hover {
  background-color: #5970F4;
  color: white;
}

.action-buttons button svg {
  margin-right: 5px;

}

.view-more-container {
  margin-bottom: 10px;
  text-align: right;
  margin-right: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;

}

col-29 .view-more {
  color: #5970F4;
  text-decoration: none;
}

/* HCM List and Item List Section */
.hcm-list,
.item-list {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.heading-viewmore {
  display: flex;
  justify-content: space-between;
}

.hcm-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0.15rem 0;
  background-color: #fff;
  border-radius: 1rem;
  width: 80%;
  border: 1px solid #ccc;
}

.item-list {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: 'Poppins';
}

.hcm-box1 {
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 0.95rem;
  font-weight: 500;
  font-family: 'Poppins';
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-color: #fff;
  width: 110%;
  height: auto;
  border-radius: 1rem;
}

/* Item Header and Footer for Appointments */
.item-header,
.item-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Ensure full width */
}

.item-footer {
  display: flex;
  flex-direction: column;
  /* Stack footer items vertically */
  width: 100%;
  /* Ensure full width */
  margin-top: 0px;
  /* Space above footer */
}

.icon {
  margin-left: 10px;
  color: #5970F4;
  cursor: pointer;
  font-size: 23px;
}

/* 2nd Row Section for Appointments, Visits, Communication, Bills & Payments */
.second-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.col-25 {
  padding: 15px;
  padding-left: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.col-25 .item-list {
  margin-top: -0.7rem;
}

.col-29 {
  width: 10vw;
  padding: 1rem;
}

.col-29 .view-more {
  display: block;
  margin-left: 2rem;
  margin-top: -0.7rem;
}

.col-29 .item-list {
  margin-left: 0rem;
  width: 100%;
}

/* Appointment Box Styling */
.appointment-box {
  display: flex;
  flex-direction: column;
}

.appointment-box .title {
  font-size: 1.2rem;
  font-family: 'Poppins';
}

.profile-details .phone {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  display: block;
  text-wrap: nowrap;
  font-weight: 500;
  font-family: 'Poppins';
}

.profile-details .email {
  font-size: 1.2rem;
  display: block;
  text-wrap: nowrap;
  font-weight: 500;
  font-family: 'Poppins';
}

.item-title {
  font-weight: 550;
  font-size: 0.9rem;
}

.appointment-time {
  color: #000;
  margin-bottom: 0px;
  color: #6F84F8;
  font-weight: 550;
  font-size: 0.9rem;
}

.heading-viewmore .view-more {
  font-weight: 550;
  font-size: 1rem;
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 0px;
}

.appointment-item-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.appointment-icons {
  display: flex;
  gap: 10px;
}

/* Icons inside Appointments */
.icon-small {
  font-size: 16px;
  color: #505254;
}

.profile-name {
  color: #505254;
}



.status-icons {
  display: flex;
  gap: 10px;
  /* Space between check and times icons */

}


/* Communication Box Description */
.communication-description {
  display: flex;
  flex-direction: column;
  /* Stack lines vertically */
  margin-top: 5px;
  /* Space above */
  width: 100%;
  /* Full width */
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  /* Set a fixed width for the icon wrapper */
  height: 20px;
  /* Set a fixed height for the icon wrapper */
  border-radius: 50%;
  /* Make the background circular */
}

.icon-wrapper.green {
  background-color: #6DD98C;
  /* Light green background for check icon */
}

.icon-wrapper.red {
  background-color: lightcoral;
  /* Light red background for cross icon */
}

.popup {
  position: fixed;
  top: 350px;
  left: 230;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 300px;
  height: 160px;
  border-radius: 10px;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: left;
}

.popup-content h3 {
  margin: 0 0 10px;
}

.popup-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.description {
  cursor: pointer;
  /* Indicates clickable text */
  color: #505254;
}

.description .view-more {
  margin-left: 5px;
  /* Adds space between description text and View More link */
}

.phn-icon {
  font-size: 1.2rem;
  /* Adjust the size */
  margin-right: 5px;
  /* Space between icon and text */
  margin-top: -3px;
  color: #555;
  /* Change the color as needed */
}

.bills-payments-box .item-box {
  border-radius: 1rem;
  padding: 5px;
  margin-bottom: 5px;

}

.bills-payments-box .item-details {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  /* Font size */
  font-weight: 300;
  /* Font weight */
}

.bills-payments-box .item-footer {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  /* Font size */
  font-weight: 300;
  /* Font weight */

}

.view-more {
  text-decoration: none;
  color: #6F84F8;
}