.app {}

.main-content {
  display: flex;
}

.content {
  margin-left: 200px;
  padding: 20px;
  display: flex;
}

.careAutomate {
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}